
@{
    ViewData["Title"] = "about";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>We dont sell digital copys of classic adventure games</p>
</div>

<p>
    Happy?
    <ul>
        <li><a asp-action="index">return to home page</a></li>
    </ul>
</p>



