@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See assignment instructions for criteria</p>
</div>


<p>
    Check out these pages:
    <ul>
        <li><a asp-action="about" asp-controller="home">Go To About Page</a></li>
    </ul>
</p>
